body {
  background-image: url(./imag/LandingPage.png);
  background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  overflow: none;
}

.nav {
  display: flex;
}
.nav-logo {
  margin-left: 2rem;
  width: 7rem;
  height: 5rem;
}
.link {
  color: white;
  margin-left: 70rem;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.7rem;
}
.link:hover {
  text-decoration: none;
  color: #9e530cb9;
}
.login-form {
  width: 400px;
  margin-left: 35rem;
  margin-top: 5rem;
}

.login-form form {
  margin-bottom: 15px;
  background: transparent;
  /* box-shadow: 0px 2px 2px rgba(182, 180, 177, 0.562); */
  padding: 30px;
  border-radius: 5px;
  color: white;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control,
.login-btn {
  border-radius: 2px;
}

.input-group-prepend .fa {
  font-size: 18px;
}

.login-btn {
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
}

.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}

.social-btn .btn:hover {
  opacity: 0.9;
}

.social-btn .btn-secondary,
.social-btn .btn-secondary:active {
  background: #507cc0 !important;
}

.social-btn .btn-info,
.social-btn .btn-info:active {
  background: #64ccf1 !important;
}

.social-btn .btn-danger,
.social-btn .btn-danger:active {
  background: #df4930 !important;
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: black;
  position: relative;
  top: -11px;
  z-index: 1;
}
