body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url(./Images/LandingPage.png);
  background-attachment: fixed;
  background-size: 100%;
  background-position: absolute;
  font-family: "Roboto", sans-serif;
}
.registration {
  display: flex;
}
.nav {
  display: flex;
}
.nav-logo {
  margin-left: 2rem;
  width: 7rem;
  height: 5rem;
}
.link {
  color: white;
  margin-left: 70rem;
  margin-top: 1rem;
}

.link:hover {
  cursor: pointer;
  color: #9c5202;
  text-decoration: none;
}
.form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px;
}
.signup-form h2 {
  color: white;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: white;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #9c5202;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.btn-success {
  background-color: #633402;
  border: none;
}
.btn-success:hover {
  cursor: pointer;
  background-color: rgb(48, 21, 3);
}
.text-center-s {
  color: #9c5202 !important;
  text-decoration: none !important;
}
.text-center-s:hover {
  cursor: pointer !important;
  color: #633402 !important;
}
